.form-post-wrapper {
    padding-left: 320px;
}

table, th, td {
    border: none;
}

.text-danger {
    font-size: 12px;
    color: red;
}

.alert-danger h4{
    color: red;
    padding-left: 5px;
}

.alert-success h4{
    color: green;
    padding-left: 5px;
}